@media only screen and (max-width: 754px) {

    body {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
        font-size: 1.2em !important;
    }
    
    .wrapper {
        width: 100%;
        min-width: inherit !important;
        max-width: none !important;
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
    }

    .main-container {
        margin: 10px 0px 0px 0px !important;
        padding: 10px 0px 10px 0px !important;
        border-right: none !important;
        border-left: none !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        height: auto !important;
    }
    
    .bottom-main-container {
        padding: 10px 20px 20px 20px !important;
        width: 100% !important;
        border-right: none !important;
        border-left: none !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
    }

    .bottom-left-main-container {
        display: none !important;
    }
    
    .content-space {
        margin: 10px auto 10px auto !important;
    }
    
    .col-2-3 {
        margin: 10px auto 10px auto !important;
        
        width: 100% !important;
    }
    
    .col-1-3 {
        margin: 10px auto 10px auto !important;
        
        width: 100% !important;
    }
    
    .line-panel:first-of-type  {
        width: 50% !important;
        margin-top: 0px !important;
        float: left;
    }

    .main-title {
        text-align: center;
        font-size: 2.5em;
    }

    #info-box {
        margin: 20px auto -306px auto !important;
        padding: 20px 20px 20px 20px;
    }
    
    .external-container {
        width: 100% !important;
    }
    
    .icon-button {
        width: 100px !important;
        height: 100px !important;
    }
    
    
}

@media only screen and (max-width: 550px) {
    
    .mobile-button {
        width: 40% !important;
    }
    
    .line-panel-mb-view {
        min-width: 410px !important;
        margin: 0px auto 20px auto !important;
    }
    
    .line-panel-mb-view:first-of-type  {
        width: 100% !important;
        float: left;
    }
    
    .game-button {
        width: 46% !important;
        height: 100px !important;
        float: left !important;
    }
    
    .mobile-score-view:first-of-type  {
        width: 40% !important;
        margin-top: 0px !important;
        float: left !important;
    }
    
    .mobile-score-view:last-of-type  {
        width: 40% !important;
        margin-top: 0px !important;
        float: right !important;
    }
    
}
