/* Game Elements: node and Connectors */

.node {
    position: absolute;
    float: left;
    width: 20px;
    height:20px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    background: #FFF; 
    border: 3px solid #DF6262;
    z-index: 20;
}


.conn {
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: #999;
    z-index: 10;
}

.conn:hover {
    -moz-box-shadow: 0 0 10px rgba(255,140,0,0.8);
    -webkit-box-shadow: 0 0 10px rgba(255,140,0,0.8);
    box-shadow: 0 0 10px rgba(255,140,0,0.8);

    background: orange;
    z-index: 11;
	
    -webkit-transition: all 150 linear;
    -o-transition: all 150 linear;
    -moz-transition: all 150 linear;
    -ms-transition: all 150 linear;
    -kthtml-transition: all 150 linear;
    transition: all 150 linear;
}

.conn-hor {
    height: 6px;
    width: 50px;
}

.conn-ver {
    height: 50px;
    width: 6px;
}

.conn-obl-l {
    width: 71px;
    height: 6px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.conn-obl-r {
    width: 71px;
    height: 6px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}



.conn-obl-l-triangle {
    width: 50px;
    height: 6px;
    -webkit-transform:rotate(-60deg);
    -moz-transform:rotate(-60deg);
    -ms-transform:rotate(-60deg);
    -o-transform:rotate(-60deg);
    transform:rotate(-60deg);
}

.conn-obl-r-triangle {
    width: 50px;
    height: 6px;
    -webkit-transform:rotate(60deg);
    -moz-transform:rotate(60deg);
    -ms-transform:rotate(60deg);
    -o-transform:rotate(60deg);
    transform:rotate(60deg);
}


/* UI elements: buttons */

button::-moz-focus-inner {
  border: 0;
}
   
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 40px;
	display: inline-block;
	margin: 0px 20px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:last-of-type {
    margin: 0px 0px;
}

.play-button {
    padding: 20px 80px !important;
    margin: 0px 0px;
    width: 100%;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
            
.btn-rounded {
	border-radius: 7px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}


.btn-rounded:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    left: -50%;
	top: 0;
}


.btn-info {
    width: 80%;
    margin: 40px auto 40px auto;
}

.btn-end-match {
    width: 80%;
    margin: 10px auto 20px auto !important;
}

.btn-info:active { border-color: rgba(255, 255, 255, 0.15) !important; color: rgba(0, 0, 0, 0.15); }
.btn-info:hover { background: rgba(255, 255, 255, 0.15) !important; }
.btn-info:active:before { color: rgba(255, 255, 255, 0.15) !important; }

.btn-rounded:active { border-color: rgba(0, 0, 0, 0.15); color: rgba(0, 0, 0, 0.15); }
.btn-rounded:hover { background: rgba(0, 0, 0, 0.15); }
.btn-rounded:active:before { color: rgba(0, 0, 0, 0.15); }
            
.selected-button { background-color: rgba(0, 0, 0, 0.15); }

.btn-rounded:hover:before {
	left: 10%;
}

.btn-palette-color {
    cursor: pointer;
    margin-right: 10px;
    border: 4px solid #000;
    background-color: #AAA;
    width: 25px;
    height: 25px;
	border-radius: 15px;
	padding: 0px 0px 0px 0px;
}

.btn-palette-color-2 {
    cursor: pointer;
    margin-right: 5px;
    border: 4px solid;
    border-top: 0px;
    width: 20px;
    height: 20px;
    top:0;
    
    border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px; 
    -webkit-border-bottom-left-radius: 20px;
    
    border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px; 
    -webkit-border-bottom-right-radius: 20px;
    
}

.color-palette-line {
    margin: 0px 0px 10px 0px;
    line-height: 10px;
}

.btn-torquoise {
    border-color: #16a085 !important;
    background-color: #1abc9c !important;
}

.btn-emerald {
    border-color: #27ae60 !important;
    background-color: #2ecc71 !important;
}

.btn-river {
    border-color: #2980b9 !important;
    background-color: #3498db !important;
}

.btn-amethys {
    border-color: #8e44ad !important;
    background-color: #9b59b6 !important;
}

.btn-asphalt {
    border-color: #2c3e50 !important;
    background-color: #34495e !important;
}

.btn-yellow {
    border-color: #f39c12 !important;
    background-color: #f1c40f !important;
}

.btn-orange {
    border-color: #d35400 !important;
    background-color: #e67e22 !important;
}

.btn-red {
    border-color: #c0392b !important;
    background-color: #e74c3c !important;
}

.btn-gray {
    border-color: #7f8c8d !important;
    background-color: #95a5a6 !important;
}

.btn-lightBlue {
    border-color: #48C6ED !important;
    background-color: #4DD4FD !important;
}


.icon-button-big {
    width: 100px;
    height: 100px;
}

.icon-button {
    width: 75px;
    height: 75px;
}

.icon-button-small {
    width: 50px;
    height: 50px;
}

.icon-button {
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    border: 3px solid #FFF;
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    color: white;
}  

.icon-button:before {
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
   
.icon-button:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
            
.icon-button:last-of-type {
    margin-right: 0px;
}
            
.icon-button:active { border-color: rgba(0, 0, 0, 0.15); color: rgba(0, 0, 0, 0.15); }
.icon-button:hover { background: rgba(0, 0, 0, 0.15); }
.icon-button:active:before { color: rgba(0, 0, 0, 0.15); }
